<!DOCTYPE html>

<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>404 Error : Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="admin" >

    <!--  styles -->
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    
<style>
{% include "bootstrap/css/bootstrap.css" %}
{% include "bootstrap/css/error.css"%}
{% include "bootstrap/css/bootstrap.min.css" %}
{% include "bootstrap/css/backgrnd.css" %}
</style>
    
  <body bgcolor="#E8E8E8">
      <!-- Main hero unit for a primary marketing message or call to action -->
<!--       <div class="jumbotron"> -->
<!--         <div class="container"> -->
            <div class="row">
                <div class="span12 text-center">
<!--                 <img src="https://i.imgur.com/zmJ1jSS.jpg?1"> -->
<!--                 <img src="https://i.imgur.com/pFVWepZ.gif" width="600px" height="400px"> -->
                <img src="http://www.troll.me/images/you-shall-not-pass-gandalf/you-shall-not-pass.jpg" width="630px" height="360px"><br>
<!--                     <p class="lead"> -->
                    <br>
                             <p><font size='4'>Gandalf is preventing you from going to the page you requested.</font></p>
                             <p><font size='4'>Also, we are not fully trained to fight wizards.</font></p>
                             <p><font size='4'>So, please back away calmly to another page.</font></p>
                             <p><font size='4'>Here are a few links that might help you:</font></p>
<!--                         <p><font size='4'>Congratulations. You have reached a secret page of this website where magic happens.</font></p> -->
<!--                         <p><font size='4'>Just Kidding, we couldn't find the page you requested. </font></p> -->
                    </p>
<!--                     <br> -->
                    <a href='/'><font size='3'>Back To Home</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a href='/contactus/'><font size='3'>Report It to Us</font></a>
<!--                         <form class="form-search marginpage" role="form" action="/" method="POST"> -->
<!--                         </form> -->
<!--                 </div> -->
<!--             </div> -->
        </div>
      </div>
 

  

</body>
</html>
